<div class="container mt-4">
  <h4 class="mb-3">Lista de Usuarios</h4>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Género</th>
        <th>Ubicación</th>
        <th>Correo Electrónico</th>
        <th>Fecha de Nacimiento</th>
        <th>Fotografía</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <td>{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</td>
        <td> <label *ngIf=" user.gender == 'female'">Mujer</label>
          <label *ngIf=" user.gender == 'male'">Hombre</label>
        </td>
        <td>{{ user.location.country }}-{{ user.location.city }}-{{ user.location.street.name }} {{ user.location.street.number }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.dob.date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <img [src]="user.picture.thumbnail" class="rounded-circle" alt="Foto" />
        </td>

      </tr>
    </tbody>
  </table>
</div>
<app-loading></app-loading>